
  .landing{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(145deg, #fdfdfd 0%, #e6e6e6 100%);
    overflow: hidden;
  }
  
  .yellow-gradient {
    position: absolute;
    top: -5%;
    left: -15%;
    filter: blur(100px);
    border-radius: 100px;
    background: linear-gradient(90deg, rgba(255, 215, 0, 0) 5.56%, #FFEB3B 83.33%);
    width: 600px;
    height: 600px;
    opacity: 0.7;
  }
  
  .violet-gradient {
    position: absolute;
    top: 20%;
    left: 55%;
    filter: blur(100px);
    border-radius: 100px;
    background: linear-gradient(180deg, rgba(106, 90, 205, 0.42) 0%, #29153D 77.78%);
    width: 600px;
    height: 600px;
    opacity: 0.7;
  }
  
  .content {
    z-index: 1;
    color: black;
    padding: 0 20px;
  }
  
  .content h1 {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 20px;
  }
  
  /* .content p {
    font-size: 1.5rem;
    margin-bottom: 30px;
    font-weight: 500;
  } */
  
  .mid{
    margin-left:7%
  }
  .low{
    margin-top:28px;
    font-size: 35px;
    /* font-family: 'Inter'; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-style: normal;
font-weight: 600;
line-height: 58px;
text-align: center;
  

background: linear-gradient(180.36deg, #1E1E1E 0.31%, #543E6C 140.95%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
/* text-fill-color: transparent; */

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .span{
    background-color: #FFD700;  /* Custom gradient */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  }