.globe-container {
    position: fixed; 
    bottom: 0;
    top:60%;
    left: 50%; 
    right: 0; 
    width: 600px; 
    height: 600px; 
    overflow: hidden; 
    z-index: 1000;
   
  }
  
  
  .globe-canvas {
    width: 100%; 
    height: 200px; 
    border-radius: 50%; 
    
  }
  
  
  .globe-container, canvas {
      border: none; 
      outline: none; 
      box-shadow: none; 
    }