#faq {
    position: relative;
    z-index: 1;
/*     background: linear-gradient(145deg, #fdfdfd 0%, #e6e6e6 100%);  *//* Light gradient for background */
    padding: 60px 0px;
    border: none; /* Removes any unwanted borders */
    background: linear-gradient(145deg, #fdfdfd 0%, #e6e6e6 100%);
}

.faq-heading {
    color: black;
    font-style: normal;
    text-transform: uppercase;
    text-align: center;
    margin-top: 1%;
    font-size: 2rem;
    z-index: 2;
}

.faq-wrap {
    margin-top: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: auto;
    z-index: 2;
}

.accordion {
    width: 85%; 
}

.accordion .item {
    background-color: #1a171c;
    margin-bottom: 8px;
    padding: 8px 15px; 
    border-radius: 8px;
}

.title {
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: 0.9rem;
}

.answer {
    color: #8b7f75;
    max-height: 0;
    overflow: hidden;
    margin-top: 6px; 
    transition: max-height 0.3s ease-out;
}

.answer.show {
    max-height: 1000px;
    transition: max-height 0.3s ease-in;
}

/* Responsive design for different screen sizes */
@media (max-width: 1024px) {
    .accordion {
        width: 75%; 
    }
}

@media (max-width: 768px) {
    .accordion {
        width: 95%; 
    }

    .title {
        font-size: 1.1rem;
    }
}

@media (max-width: 480px) {
    .faq-heading {
        font-size: 1.5rem;
    }

    .faq-wrap {
        padding: 20px;
    }

    .accordion .item {
        padding: 6px 12px;
    }

    .title {
        font-size: 0.9rem;
    }

    .answer {
        margin-top: 4px;
    }
}

/* Gradients for visual effect */
#faq .yellow-gradient {
    position: absolute;
    top: 0%;
    left: -15%;
    filter: blur(90px); /* Blurred for soft visual */
    border-radius: 100px;
    background: linear-gradient(90deg, rgba(255, 215, 0, 0) 5.56%, #FFEB3B 83.33%);
    width: 500px;
    height: 400px;
    opacity: 0.6;
   
}

#faq .violet-gradient {
    position: absolute;
    top: 40%;
    left: 65%;
    filter: blur(90px); /* Blurred for soft visual */
    border-radius: 100px;
    background: linear-gradient(180deg, rgba(106, 90, 205, 0.42) 0%, #29153D 77.78%);
    width: 500px;
    height: 400px;
    opacity: 0.6;
 /*    z-index: 0; */
}

.faq-content {
    z-index: 2;
}
