 #faq {
    position: relative;
    z-index: 1;
    padding: 20px 0px;
    border: none;
    background: #fcfcfc/* white */;
}

.faq-heading {
    color: black;
    font-style: normal;
    text-align: right; 
    margin: 0 auto; 
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 8%;
    margin-top: 2%;
}

.faq-wrap {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    align-items: flex-start; 
    z-index: 2;
    margin-top: -6.5%;
   /*  padding: 20px;  */
}

.faq-img {
   /*  width: 80%; */ 
    max-width: 900px; 
    /* margin: 0 auto; */
    margin-right: 0%;
}

.accordion {
    width: 32%;
    margin-left: 5%;
    margin-top: 3%;
   /*  margin: 20px 10px; */
}

.accordion .item {
    /* background-color: #1a171c; */
    background: #d9d9d9;
    margin-bottom: 8px;
    padding: 8px 15px; 
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title {
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: 0.8rem;
}

.answer {
    color: #8b7f75;
    max-height: 0;
    overflow: hidden;
    margin-top: 8px;
    transition: max-height 0.3s ease-out;
}

.answer.show {
    max-height: 1000px;
    transition: max-height 0.3s ease-in;
}

/* Responsive design for different screen sizes */
@media (max-width: 1024px) {
    .faq-wrap {
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center items */
    }

    .accordion {
        width: 75%;
    }

    .faq-img {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .faq-heading {
        font-size: 1rem;
    }

    .accordion {
        width: 90%;
    }

    .faq-img {
        width: 5%;
        height: 20%;
        justify-content: center;
        margin-left: -100%;
    }

    .title {
        font-size: 0.8rem;
    }
}

@media (max-width: 480px) {
    #faq {
        padding: 15px;
    }

    .faq-heading {
        font-size: 1.6rem;
        margin-bottom: 10px;
    }

    .faq-wrap {
        padding: 10px;
    }
    .faq-img{
        margin-left: -30%;
    }

    .accordion {
        width: 100%;
    }

    .accordion .item {
        padding: 10px 15px;
    }

    .title {
        font-size: 0.8rem;
    }

    .answer {
        margin-top: 6px;
    }
}
