
#stdlog .yellow-gradient {
  opacity: 0.5;
}

.stdlog-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  position: relative;
  overflow: hidden;
}

.stdlog-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
 /*  margin-bottom: 28px; */
 margin-top: 5%;
  z-index: 2;
  padding: 20px; 
}

@media (max-width: 768px) {
  .stdlog-container {
      flex-direction: column; 
      margin-bottom: 20px;
  }

  .stdlog-page {
      justify-content: flex-start; 
      height: auto; 
  }
}

@media (max-width: 480px) {
  .stdlog-container {
      justify-content: center; 
      padding: 10px; 
  }
}
