.home-nav{

}

#home {
    z-index: 1;
    /* background: linear-gradient(145deg, #f3f3f3 0%, #e0e0e0 100%); */
    background: linear-gradient(145deg, #fdfdfd 0%, #e6e6e6 100%);
   /*  margin-top: 100px; */ /* Adjust the margin to space it from the Landing section */
    padding: 60px 0px; 
    position: relative; 
}

.home-page {
  /*   height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    position: relative;
    overflow: hidden;
  }
  
.home-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 28px;
    z-index: 2;
    padding: 20px;
  }
  .leftSec{
    width: 45%;
    justify-content:flex-start
  }
.home-head {
    color: #333; 
    font-size:80px;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* .search{
  border-radius: 50%; */
  .search-bar {
    margin-top:5%;
    background-color: white;
    border-radius: 50px;
    border: 2px solid #333;
    padding: 0.5rem 1rem;
    width: 95%;
    justify-content: space-between;
  }
  .search-bar > input {
    border: none;
    outline: none;
  }
.popular{
  
  font-family: 'Franklin Gothic small', 'Arial Narrow', Arial, sans-serif;
  font-size: 15px;
  margin: 2% 3%;
}